<!DOCTYPE html>
<html lang="en">

<head>

    <title>Memenergy</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
</head>


<body id="layout">
{{>header}}
<section id="main-buttons">


</section>


<div id="container">

    <div class="welcome">
        <img id="welcome-image2" src="https://i.imgflip.com/20j96l.jpg">
        <p id="welcome-p">At <a href="/">memenergy</a> you will find several memes, as simple as that. Enjoy!!! </p>
    </div>
</div>


</body>
</html>