<!DOCTYPE html>
<html lang="en">

<head>

    <title>Memenergy</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
</head>


<body id="layout">
{{>header}}
<section id="main-buttons">


</section>


<div id="container">


    <ul>
        <li>User: {{#hasUserCreator}}<a href="/user/{{userCreator.username}}">{{userCreator.username}}</a>{{/hasUserCreator}}{{#notHasUserCreator}}[deleted]{{/notHasUserCreator}} Date: {{date.dateToString}}</li>
        <li><a href="/post/{{relatedPost.id}}">Post:</a> {{relatedPost.title}}</li>
        {{#isAdmin}}
        <li><a href="/comment/{{id}}/reports"> Reports:</a> {{reportCounter}}</li>
        <li>Visibility: {{forcedVisibility}}</li>
        {{/isAdmin}}
        <li>Comment:</li>
        <li>{{{text}}}</li>
    </ul>

    <div id="admin-comment-action">
        {{#isAdmin}}
        <form action="/comment/{{id}}/forceVisibility" class="form" method="post">
            <label>Choose an action:</label>
            <select name="reportAction">
                <option value="0">Default</option>
                <option value="1">Visible</option>
                <option value="-1">Hide</option>

            </select>
            <input type="hidden" name="_csrf" value="{{token}}">
            <input class="button-action" type="submit" value="Change Forced Visibility">
        </form>
        {{/isAdmin}}
    </div>
    {{#isUserOwner}}
    <div class="comment-box" id="edit-comment">
        <div class="comment-create">

            <form action="/comment/{{id}}/edit" class="form" id="comment-form" method="post">


                <div class="form-fieldset">

                    <textarea placeholder="Rewrite your comment" name='text' rows=5 cols=40
                              id="comment-input"  maxlength="1024">{{text}}</textarea>

                </div>
                <input type="hidden" name="_csrf" value="{{token}}">
                <input class="button-action" type="submit" value="Update">
            </form>
        </div>
    </div>
    {{/isUserOwner}}
</div>





</body>
</html>