<!DOCTYPE html>
<html lang="en">

<head>

    <title>Memenergy</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
</head>


<body id="layout">
{{>header}}
<section id="main-buttons">


</section>


<div id="container">


    <div class="post-box">

        <ul>
            {{#post}}
            <li>{{#hasUserCreator}}<img class="comment-user-avatar" src="/api/user/{{#userCreator}}{{username}}{{/userCreator}}/image">{{/hasUserCreator}}{{#notHasUserCreator}}<img class="comment-user-avatar" src="/assets/ico/deletedUser.jpg">{{/notHasUserCreator}}
                Posted by {{#hasUserCreator}}<a href="/user/{{userCreator.username}}">{{userCreator.username}}</a>{{/hasUserCreator}}{{#notHasUserCreator}}[deleted]{{/notHasUserCreator}} on {{date.dateToString}}</li>
            {{#isAdmin}}
            <li><a href="/post/{{id}}/reports">Reports:</a> {{reportCounter}}</li>
            {{/isAdmin}}
            <li><h3><strong>{{title}}</strong></h3></li>
            <li><a href="/post/{{id}}"><img class="index-images" src="/api/post/{{id}}/image"></a></li>
            </br></br></br>
            {{/post}}
        </ul>
    </div>


    {{#notLikes}}

    <div class="num-page">

        <td>
        <th> {{#firstPage}}<a href="{{previousPage}}">{{/firstPage}} Previous page </a></th>
        <th> {{page}}</th>
        <th> {{#lastPage}}<a href="{{nextPage}}">{{/lastPage}} Next page </a></th>
        </td>

    </div>
    {{/notLikes}}

</div>


</body>
</html>